.features {
  display: flex;
  flex-wrap: wrap;
}

.features h3 {
  font-size: 1em;
  margin-left: -3em;
  z-index: 0;
  background-color: #353531;
  color: white;
  padding: .25em 1em .25em 2.5em;
  border-radius: 1em;
}

.features ul,
.features p {
  font-size: .875em;
}

@media (min-width: 640px) {
.features .feature-set {
  width: 48%;
  margin: 1%;
}
}

@media (min-width: 1024px) {
  .features .feature-set {
    width: 30%;
    margin: 1.5%;
  }
  .features h3 {
    margin-left: -3.25em;
    padding: .25em 1em .25em 2.75em;
  }
}

.feature-set__icon {
  max-width: 80px;
  max-height: 80px;
  margin-right: .5em;
  position: relative;
  z-index: 1;
}
