.product-portfolio {
  max-width: 1000px;
  margin: 4em auto 7em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.product-portfolio__item {
  width: 100%;
  border-bottom: 10px solid #fff;
}

@media (min-width: 768px) {
  .product-portfolio__item {
    width: 50%;
    border: 5px solid #fff;
    box-shadow: 0 8px 21px rgba(0,0,0,.2);
  }
}

.backend {
  background-color: #FAFAFA;
}

.frontend {
}

.unit {
  position: relative;
  overflow: hidden;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.unit__copy {
  flex-grow: 0;
  z-index: 2;
  width: 88%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.unit__header {
  margin-top: 1.5em;
  margin-bottom: 0;
  flex-shrink: 1;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 2em 0 1.5em;
  font-size: 1.5em;
}
.unit__subheader {
  margin-top: .25em;
  flex-shrink: 1;
  opacity: .8;
}

.unit__image-wrap {
  position: relative;
  z-index: 1;
  overflow: visible;
  flex-grow: 1;
}

.unit__image {
  position: absolute;
  top: calc(50% - 250px);
  margin: 0;
  width: 316px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 50%;
  height: 320px;
  left: calc(50% - 158px);
}

.frontend .unit__image {
  background-image: url('../../static/img/undraw_content_vbqo.svg');
}

.backend .unit__image {
  background-image: url('../../static/img/undraw_building_blocks_n0nc.svg');
}
