.wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1em;
}

.wrap--vertical-padding {
  padding-top: 7em;
  padding-bottom: 7em;
}

.wrap--vertical-padding > h1:first-of-type {
  margin-top: 0;
}

@media (min-width: 1220px) {
  .wrap--vertical-padding {
    padding-top: 8em;
    padding-bottom: 8em;
  }
}

.wrap--top-padding {
  padding-top: 3.5em;
}

@media (min-width: 1220px) {
  .wrap--top-padding {
    padding-top: 6.4em;
  }
}

.wrap--bottom-padding {
  padding-bottom: 3.5em;
}

@media (min-width: 1220px) {
  .wrap--bottom-padding {
    padding-bottom: 6.4em;
  }
}

.wrap--narrow {
  max-width: 900px;
}
